main{
    display: flex;
    justify-content: center;
    
}
#search-bar{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10px;
}
#search-bar div{
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
}
#search-bar div button{
    width: 30%;
    margin: 4px;
}